<html>
  <head>
    <title>A-Frame Animation Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <style>
      html {
        background: #8D3434;
        color: #FAFAFA;
        font-family: monospace;
        font-size: 20px;
        padding: 10px 20px;
      }
      h1 {
        font-weight: 300;
      }
      a {
        color: #FAFAFA;
        display: block;
        padding: 15px 0;
      }
    </style>
  </head>
  <body>
    <h1>A-Frame Animation Component</h1>
    <a href="basic/">Basic</a>
    <p>This is a basic example showing off various features.</p>

    <a href="events/">Events</a>
    <p>Animations that listen to events to start and stop.</p>

    <a href="repeat/">Repeat</a>
    <p>Set number of times for animation to repeat.</p>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon" style="background: #E14242">
        <a href="https://github.com/ngokevin/aframe-animation-component">Fork me on GitHub</a>
      </div>
    </div>
  </body>
</html>
