<html>
  <head>
    <title>A-Frame Firebase Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <style>
      html {
        background: #2CC4CB;
        color: #FAFAFA;
        font-family: monospace;
        font-size: 20px;
        padding: 10px 20px;
      }
      h1 {
        font-weight: 300;
      }
      a {
        color: #FAFAFA;
        display: block;
        padding: 15px 0;
      }
    </style>
  </head>
  <body>
    <h1>A-Frame Firebase Component</h1>
    <a href="basic/">Basic Avatars</a>
    <p>Avatars in a scene.</p>

    <a href="presentation/">Presentation</a>
    <p>Live demo presentation for SFHTML5.</p>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon" style="background: #EF2D5E">
        <a href="https://github.com/ngokevin/aframe-firebase-component">Fork me on GitHub</a>
      </div>
    </div>
  </body>
</html>
