<html>
  <head>
    <title>A-Frame Template Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <style>
      html {
        background: #5D414D;
        color: #FAFAFA;
        font-family: monospace;
        font-size: 20px;
        padding: 10px 20px;
      }
      h1 {
        font-weight: 300;
      }
      a {
        color: #FAFAFA;
        display: block;
        padding: 15px 0;
      }
    </style>
  </head>
  <body>
    <h1>A-Frame Template Component</h1>
    <a href="basic/">Basic</a>
    <p>Using a variety of features.</p>

    <a href="vanilla/">Vanilla</a>
    <p>Without any templating engine.</p>

    <a href="data/">Data</a>
    <p>Defining template data through data components.</p>

    <a href="swapping/">Swapping</a>
    <p>Swapping templates in place.</p>

    <a href="template-string/">Template String</a>
    <p>Super simple templating using ES6 template strings. No engines needed.</p>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon" style="background: #7E858B">
        <a href="https://github.com/ngokevin/aframe-template-component">Fork me on GitHub</a>
      </div>
    </div>
  </body>
</html>
