<html>
  <head>
    <title>A-Frame Layout Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <style>
      html {
        background: #2D4059;
        color: #FAFAFA;
        font-family: monospace;
        font-size: 20px;
        padding: 10px 20px;
      }
      h1 {
        font-weight: 300;
      }
      a {
        color: #FAFAFA;
        display: block;
        padding: 15px 0;
      }
    </style>
  </head>
  <body>
    <h1>A-Frame Layout Component</h1>
    <a href="box/">Box</a>
    <a href="circle/">Circle</a>
    <a href="cube/">Cube</a>
    <a href="dodecahedron/">Docadecahedron</a>
    <a href="line/">Line</a>
    <a href="pyramid/">Pyramid</a>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon" style="background: #FF5722">
        <a href="https://github.com/ngokevin/aframe-layout-component">Fork me on GitHub</a>
      </div>
    </div>
  </body>
</html>
