<html>
  <head>
    <title>A-Frame Entity Generator Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <style>
      html {
        background: #3B503D;
        color: #FAFAFA;
        font-family: monospace;
        font-size: 20px;
        padding: 10px 20px;
      }
      h1 {
        font-weight: 300;
      }
      a {
        color: #FAFAFA;
        display: block;
        padding: 15px 0;
      }
    </style>
  </head>
  <body>
    <h1>A-Frame Entity Generator Component</h1>
    <a href="spheres/index.html">Spheres</a>
    <p>Generated spheres with help from Randomizer Components.</p>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon" style="background: #4A746E">
        <a href="https://github.com/ngokevin/aframe-entity-generator-component">Fork me on GitHub</a>
      </div>
    </div>
  </body>
</html>
