<html>
  <head>
    <title>A-Frame Audio Visualizer Components</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <style>
      html {
        background: #4B7551;
        color: #FAFAFA;
        font-family: monospace;
        font-size: 20px;
        padding: 10px 20px;
      }
      h1 {
        font-weight: 300;
      }
      a {
        color: #FAFAFA;
        display: block;
        padding: 15px 0;
      }
    </style>
  </head>
  <body>
    <h1>A-Frame Audio Visualizer Components</h1>

    <a href="spectrum/index.html">Spectrum</a>
    <p>Explosions in the Sky - Your Hand in Mine</p>

    <a href="kicks/index.html">Kicks</a>
    <p>World Order - Machine Civilization</p>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon" style="background: #8A9E52">
        <a href="https://github.com/ngokevin/aframe-audio-visualizer-components">Fork me on GitHub</a>
      </div>
    </div>
  </body>
</html>
