<html>
  <head>
    <title>A-Frame Randomizer Components</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <style>
      html {
        background: #364F6B;
        color: #FAFAFA;
        font-family: monospace;
        font-size: 20px;
        padding: 10px 20px;
      }
      h1 {
        font-weight: 300;
      }
      a {
        color: #FAFAFA;
        display: block;
        padding: 15px 0;
      }
    </style>
  </head>
  <body>
    <h1>A-Frame Randomizer Components</h1>
    <a href="basic/index.html">Basic</a>

    <a href="random-spherical-position/index.html">Random Spherical Position</a>
    <p>Random positions mapped on the face of a bounding sphere.</p>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon" style="background: #3FC1C9">
        <a href="https://github.com/ngokevin/aframe-randomizer-components">Fork me on GitHub</a>
      </div>
    </div>
  </body>
</html>
