<html>
  <head>
    <title>A-Frame Text Component</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
    <style>
      html {
        background: #EF2D5E;
        color: #FAFAFA;
        font-family: monospace;
        font-size: 20px;
        padding: 10px 20px;
      }
      h1 {
        font-weight: 300;
      }
      a {
        color: #FAFAFA;
        display: block;
        padding: 15px 0;
      }
    </style>
  </head>
  <body>
    <h1>A-Frame Text Component</h1>
    <a href="basic/index.html">Basic</a>
    <a href="fonts/index.html">Fonts</a>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon" style="background: #3482AA">
        <a href="https://github.com/ngokevin/aframe-text-component">Fork me on GitHub</a>
      </div>
    </div>
  </body>
</html>
