<!DOCTYPE html>
<html>
  <head>
    <title>A-Frame Template Component - Swapping</title>
    <script src="../build.js"></script>
    <script src="components/template-looper.js"></script>
  </head>
  <body>
    <a-scene>
      <a-entity template="src: scenes/spheres.html"
                template-looper="scenes/boxes.html, scenes/spheres.html"></a-entity>

      <a-camera position="0 1.8 8"></a-camera>
      <a-sky color="#D7C1E0"></a-sky>

      <a-sky id="mask" color="#111" opacity="0" position="0 1.8 8" radius="2">
        <a-animation attribute="material.opacity" begin="fade" from="0" to="1" dur="200"
                     direction="alternate" repeat="1"></a-animation>
      </a-sky>
    </a-scene>
  </body>
</html>
